.expandable {
    max-height: 0;
    opacity: 0.5;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.5s ease-in
}

.expandable.expanded {
    overflow-y: auto;
    max-height: 80vh;
    opacity: 1;
}
